BasedOnStyle: Google

BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: MultiLine
  AfterClass: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup

IndentCaseBlocks: true
IndentCaseLabels: true

PointerAlignment: Left

ColumnLimit: 100
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
